@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Monoton&family=Text+Me+One&display=swap");

.BsCart {
  height: 3em;
  width: 3em;
}
.greeting {
  margin: 15px;
  font-size: 2em;
  font-family: "Luxurious Roman", cursive;
}
