@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Monoton&family=Text+Me+One&display=swap");

.cardProducto {
  width: 18rem;
  margin:4px;
  background-color: hsl(0, 0, 97%);
}

.cardProductos {
  margin:4px;
  align-items: center;
  justify-content: center;
}

.cardBody {
  background-color: white;
  margin-bottom: 3px;
  text-align: center;
}

img {
  margin-top: 3px;
  height: 15rem;
}

.itemDetail {
  max-width: 760px;
  margin-top: 20px;
}
.brand{
  font-family: 'Luxurious Roman', cursive;
  font-size: 3rem;
  border-style: none;
  color: #147d8b;
}
.navContainer{
  display: grid;
  grid-auto-rows: max-content;
}